---
import Footer from "../components/Footer.astro";
import Menu from "../components/Menu.astro";
import Nav from "../components/Nav.astro";
import '../styles/cursor.css'
import '../styles/index.css'

export interface Props {
    title?: string,
    ogURL?: string,
    ogtitle?: string,
    ogdesc?: string,
    ogimg?: string,
    noNav?: boolean
}
const { title, ogURL, ogtitle, ogdesc, ogimg, noNav } = Astro.props as Props;

---

<script src="/src/scripts/main.ts" />

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <title>{title}</title>

    <meta name="description" content={ogdesc}>
    <link rel="canonical" href={Astro.canonicalURL.href} />


    <!-- Facebook Meta Tags -->
    <meta property="og:site_name" content="Jeeho Ahn - Portfolio" />
    <meta property="og:url" content={ogURL}>
    <meta property="og:type" content="website">
    <meta property="og:title" content={ogtitle || `Jeeho Ahn - Portfolio`}>
    <meta property="og:description" content={ogdesc||`Student, Full Stack Developer, Open Source enthusaist.`}>
    <meta property="og:image" content={ogimg||``}>

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="jcde.xyz">
    <meta property="twitter:url" content={Astro.canonicalURL.href}>
    <meta name="twitter:title" content={ogtitle||"Jeeho Ahn - Portfolio"}>
    <meta name="twitter:description" {ogdesc||`Student, Full Stack Developer, Open Source enthusaist.`}>
    <meta name="twitter:image" content={ogimg||''}>

    <!-- Meta Tags Generated via https://www.opengraph.xyz -->
    <link rel="preload" as="style" crossorigin
        href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css" />
    <link rel="stylesheet" as="style" crossorigin
        href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css" />

    <!-- <script is:inline src="https://cdn.jsdelivr.net/npm/@barba/core"></script>
    <script is:inline src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/gsap.min.js"></script>
    <script is:inline src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.1/ScrollTrigger.min.js"></script> -->
    <!-- <script is:inline src="https://unpkg.com/mouse-follower@1/dist/mouse-follower.min.js"></script> -->
    <!-- <script is:inline src="https://cdn.jsdelivr.net/npm/locomotive-scroll@4.1.4/dist/locomotive-scroll.js"></script> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/locomotive-scroll@4.1.4/dist/locomotive-scroll.min.css">

    <script is:inline>
        // The configured mode is stored in local storage
        const isDarkMode = localStorage.getItem('darkMode');

        // Set theme to 'dark' if darkMode = 'true'

        let theme = isDarkMode === 'true' ? 'dark' : '';
        if (!isDarkMode && window.matchMedia("(prefers-color-scheme: dark)").matches) {
            theme = 'dark'
        }

        // Put dark class on html tag to enable dark mode
        document.querySelector("html").className = theme;

    </script>
</head>



<body>
    <Menu></Menu>
    <div data-scroll-container>

        {!noNav&&
        <Nav />}
        <div class=" relative z-10 w-full overflow-clip  transition duration-200  pb-24 dark:text-gray-100"
            id="content">
            <slot />
        </div>

        <Footer />

    </div>
</body>


</html>

<style lang="postcss">
    a {
        cursor: pointer;
        line-height: 2.5em;
        text-decoration: none;
        border-bottom: 1px solid transparent;
        transition: border .2s;
    }

    a:hover {
        border-bottom: 1px solid #000000;
    }

    .dark a:hover {
        border-bottom: 1px solid #FFFFFF;
    }

    .no-underline a:hover {
        border-bottom: 1px solid transparent;
    }

    a:hover.no-underline {
        border-bottom: 1px solid transparent;
    }
</style>